.headerCellStyles {
    background-color: #f5f5f5;
}
.grid-actions-cell-item:hover {
    background-color: #f0f0f0;
    color: #0984e3 !important;
    cursor: pointer;
}
.grid-actions-cell-items-cancle:hover {
    background-color: red;
    color: red !important;
    cursor: pointer;
}
.grid-actions-cell-items-edit:hover {
    background-color: green;
    color: green !important;
    cursor: pointer;
}